@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0d0d0d;
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "IBMPlexSans";
}

@font-face {
  font-family: robmed;
  src: url(../assets/fonts/ofont.ru_Roboto_Medium.ttf);
}
@font-face {
  font-family: rubbold;
  src: url(../assets/fonts/ofont.ru_Rubik.ttf);
}
@font-face {
  font-family: robreg;
  src: url(../assets/fonts/ofont.ru_Roboto.ttf);
}
h3 {
  font-size: 48px;
  color: #27272A;
}

.unline {
  text-decoration: underline;
  font-family: robreg;
  font-size: 24px;
  color: #F5F5F5;
}

.butorange {
  display: flex;
  padding: 16px 32px;
  border-radius: 50px;
  border: #F5F5F5 2px solid;
  background-color: #FB923C;
  width: 304px;
  justify-content: center;
  font-family: robmed;
  font-size: 20px;
  color: #F5F5F5;
  box-shadow: 0 0 40px 40px #FB923C inset, 0 0 0 0 #FB923C;
  transition: all 150ms ease-in-out;
}
.butorange:hover {
  box-shadow: 0 0 10px 0 #F5F5F5 inset, 0 0 10px 4px #F5F5F5;
}

.butwhite {
  background-color: #F5F5F5;
  color: #FB923C;
  border: #eba872 2px solid;
  box-shadow: 0 0 40px 40px #F5F5F5 inset, 0 0 0 0 #F5F5F5;
  transition: all 150ms ease-in-out;
}
.butwhite:hover {
  box-shadow: 0 0 10px 0 #eba872 inset, 0 0 10px 4px #eba872;
}

.rotate-image {
  transition: transform 0.7s ease-in-out;
  transform: rotate(0deg);
}

.rotate-image:hover {
  transform: rotate(360deg);
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  list-style: none;
}
nav ul li {
  display: flex;
  align-items: center;
  text-align: center;
}
nav ul li .about {
  font-family: robmed;
  color: #F5F5F5;
  font-size: 20px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
nav ul li .about:hover {
  transform: translateY(-5px);
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}
body header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1100px;
  background-image: url(../assets/img/back.png);
  background-size: cover;
}
body header .headup {
  display: flex;
  flex-direction: row;
  padding: 32px 72px;
  align-items: center;
  justify-content: space-between;
}
body header .headup .connect {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
body header .headup .connect .number {
  font-family: robmed;
  color: #27272A;
  font-size: 20px;
}
body header .headdown {
  display: flex;
  padding: 100px 240px 100px 300px;
}
body header .headdown .maindown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body header .headdown .maindown .infodown {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
body header .headdown .maindown .infodown .textinf {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: -moz-fit-content;
  width: fit-content;
}
body header .headdown .maindown .infodown .textinf h1 {
  font-family: rubbold;
  font-size: 96px;
  color: #F5F5F5;
}
body header .headdown .maindown .infodown .textinf h2 {
  font-family: robreg;
  font-size: 24px;
  color: #F5F5F5;
}
body header .headdown .maindown .infodown .butinf {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
body header .headdown .maindown .infodown .butinf .butorange {
  display: flex;
  padding: 16px 32px;
  border-radius: 50px;
  border: #F5F5F5 2px solid;
  background-color: #FB923C;
  width: 304px;
  justify-content: center;
  font-family: robmed;
  font-size: 20px;
  color: #F5F5F5;
  box-shadow: 0 0 40px 40px #FB923C inset, 0 0 0 0 #FB923C;
  transition: all 150ms ease-in-out;
}
body header .headdown .maindown .infodown .butinf .butorange:hover {
  box-shadow: 0 0 10px 0 #F5F5F5 inset, 0 0 10px 4px #F5F5F5;
}
body header .headdown .maindown .infodown .butinf .butwhite {
  background-color: #F5F5F5;
  color: #FB923C;
  border: #eba872 2px solid;
  box-shadow: 0 0 40px 40px #F5F5F5 inset, 0 0 0 0 #F5F5F5;
  transition: all 150ms ease-in-out;
}
body header .headdown .maindown .infodown .butinf .butwhite:hover {
  box-shadow: 0 0 10px 0 #eba872 inset, 0 0 10px 4px #eba872;
}
body header .headdown .maindown img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body .main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
body .main .cont_about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 140px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}
body .main .cont_about .onas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .cont_about .onas h1 {
  font-family: rubbold;
  font-size: 96px;
  color: #FB923C;
}
body .main .cont_about .onas .onastext {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body .main .cont_about .onas .onastext p {
  font-family: robreg;
  font-size: 36px;
  color: #27272A;
}
body .main .cont_about .cross {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .cont_about .cross p {
  font-family: robreg;
  font-size: 32px;
  color: #27272A;
}
body .main .cont_about .cross .crosslist {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .cont_about .cross .crosslist img {
  width: 256px;
  height: 256px;
}
body .main .cases {
  width: 100%;
  display: flex;
  padding: 60px 344px;
  justify-content: center;
}
body .main .cases .cont_case {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}
body .main .cases .cont_case .cont_fourcase {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase p {
  font-family: robmed;
  font-size: 28px;
  color: #52525B;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 408px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 30px;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase .overlay p {
  font-family: robmed;
  font-size: 18px;
  color: white;
  text-align: flex-start;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase .overlay .butorange {
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase .overlay .butorange:hover {
  box-shadow: none;
  background-color: #F5F5F5;
  color: #FB923C;
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase:hover img {
  filter: brightness(0.5);
}
body .main .cases .cont_case .cont_fourcase .cont_casecol .firstcase:hover .overlay {
  opacity: 1;
}
body .main .cases .cont_case .butorange {
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
body .main .cases .cont_case .butorange:hover {
  background-color: #F97316;
  box-shadow: none;
}
body .main .dop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}
body .main .dop h1 {
  font-family: rubbold;
  font-size: 48px;
  color: #27272A;
}
body .main .dop .dopinf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 1440px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .dop .dopinf .doplist {
  display: flex;
  flex-direction: column;
}
body .main .dop .dopinf .doplist .dopel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 32px;
  min-width: 720px;
  width: 100%;
  min-height: 240px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .dop .dopinf .doplist .dopel .p1 {
  font-family: robmed;
  font-size: 64px;
  color: #FB923C;
}
body .main .dop .dopinf .doplist .dopel p {
  font-family: robmed;
  font-size: 32px;
  color: #27272A;
}
body .main .dop .dopinf .doplist .palka {
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #FB923C;
  border-radius: 4px;
}
body .main .clients {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 60px 0 20px 0;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
body .main .clients .client-logos {
  display: flex;
  width: 5760px;
  animation: move 40s linear infinite;
}
body .main .clients .client-logos:hover {
  animation-play-state: paused;
}
body .main .clients .client-logos .logo {
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .clients .client-logos .logo img {
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
@keyframes move {
  0% {
    transform: translateX(-1920px);
  }
  100% {
    transform: translateX(0);
  }
}
body .main .position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 120px 240px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 120px;
  background-color: #FB923C;
}
body .main .position h3 {
  font-family: rubbold;
  font-size: 96px;
  color: #F5F5F5;
}
body .main .position .positlist {
  display: flex;
  gap: 64px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
body .main .position .positlist .positel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 92px 32px;
  border-radius: 50px;
  background-color: #F5F5F5;
}
body .main .position .positlist .positel img {
  width: 200px;
}
body .main .position .positlist .positel .posittext {
  display: flex;
  gap: 8px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  flex-direction: column;
}
body .main .position .positlist .positel .posittext p {
  font-family: robmed;
  font-size: 24px;
  color: #27272A;
}
body .main .position .positlist .positel .posittext .p1 {
  font-family: robmed;
  font-size: 16px;
  color: #52525B;
}
body .main .portfolio {
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
body .main .portfolio .cont_portfolio {
  width: 1440px;
  gap: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main .portfolio .cont_portfolio .cont_allportfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  width: 23%;
  border: 3px solid #FB923C;
  border-radius: 32px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio:hover {
  transform: scale(1.05);
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio img {
  width: -moz-fit-content;
  width: fit-content;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio .cont_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio .cont_text p {
  font-family: robreg;
  font-size: 16px;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio .cont_text .textup h4 {
  font-family: robmed;
  font-size: 20px;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio .cont_text .textup p {
  font-family: robreg;
  font-size: 16px;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio .butorange {
  width: 100%;
  height: 40px;
  align-items: center;
  font-family: robreg;
  font-size: 16px;
  border: none;
}
body .main .portfolio .cont_portfolio .cont_allportfolio .cont_firstportfolio .butorange:hover {
  background-color: #F97316;
  box-shadow: none;
}
body .main .technologi {
  display: flex;
  padding: 30px 240px;
  width: 100%;
}
body .main .technologi .cont_technologi {
  display: flex;
  flex-direction: column;
  width: 1440px;
  gap: 64px;
  align-items: center;
}
body .main .technologi .cont_technologi h3 {
  color: #FB923C;
  font-size: 64px;
}
body .main .technologi .cont_technologi .cont_alltech {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
body .main .technologi .cont_technologi .cont_alltech .uptech {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
body .main .technologi .cont_technologi .cont_alltech .uptech .texttech {
  padding: 32px 15px;
  border-radius: 50px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  background-color: rgba(255, 115, 0, 0.5);
}
body .main .technologi .cont_technologi .cont_alltech .uptech .texttech span {
  font-size: 24px;
  color: #EA580C;
}
body .main .technologi .cont_technologi .cont_alltech .uptech .texttech p {
  font-size: 24px;
  color: #fff;
}
body .main .technologi .cont_technologi .cont_alltech .uptech .techsmall {
  display: flex;
  width: 144px;
  height: 100%;
  background-image: url(../assets/img/tech2.png);
  background-size: cover;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
body .main .technologi .cont_technologi .cont_alltech .uptech .techsmall .texttech {
  height: 100%;
}
body .main .technologi .cont_technologi .cont_alltech .uptech .techsmall .texttech span {
  writing-mode: vertical-lr;
  display: inline-block;
  color: #F5F5F5;
  font-size: 36px;
}
body .main .technologi .cont_technologi .cont_alltech .uptech .tauri {
  background-image: url(../assets/img/tech3.png);
}
body .main .technologi .cont_technologi .cont_alltech .uptech .ionic {
  background-image: url(../assets/img/tech4.png);
}
body .main .technologi .cont_technologi .cont_alltech .uptech .info {
  background-image: url(../assets/img/tech5.png);
}
body .main .technologi .cont_technologi .cont_alltech .uptech .xamarin {
  background-image: url(../assets/img/tech6.png);
}
body .main .technologi .cont_technologi .cont_alltech .uptech .technow {
  width: 640px;
  height: 640px;
  display: flex;
  background-image: url(../assets/img/tech1.png);
  background-size: cover;
  align-items: flex-end;
  border-radius: 50px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
body .main .technologi .cont_technologi .cont_alltech .downtech {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}
body .main .workers {
  display: flex;
  padding: 20px 240px;
  width: 100%;
  justify-content: center;
}
body .main .workers .cont_worker {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
body .main .workers .cont_worker .cont_allwork {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}
body .main .workers .cont_worker .cont_allwork .firstwork {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  background-color: #FB923C;
  border-radius: 50px;
  width: 305px;
}
body .main .workers .cont_worker .cont_allwork .firstwork img {
  width: -moz-fit-content;
  width: fit-content;
}
body .main .workers .cont_worker .cont_allwork .firstwork .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
body .main .workers .cont_worker .cont_allwork .firstwork .text h5 {
  font-size: 24px;
  color: #F5F5F5;
}
body .main .workers .cont_worker .cont_allwork .firstwork .text p {
  font-family: robreg;
  font-size: 20px;
  color: #FED7AA;
}
body .main .workers .cont_worker .cont_allwork .firstwork .text span {
  font-family: robreg;
  font-size: 20px;
  color: #F5F5F5;
  text-align: center;
}
body .main .facts {
  display: flex;
  padding: 32px 240px;
  justify-content: center;
  width: 100%;
}
body .main .facts .cont_facts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
body .main .facts .cont_facts .allfacts {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
body .main .facts .cont_facts .allfacts .firstfacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 25%;
}
body .main .facts .cont_facts .allfacts .firstfacts .cont_fact {
  padding: 16px;
  display: flex;
  border: 3px #FB923C solid;
  border-radius: 25px;
  height: 120px;
  align-items: center;
}
body .main .facts .cont_facts .allfacts .firstfacts .cont_fact p {
  font-size: 20px;
  font-family: robmed;
  color: #27272A;
}
body .main .razrab {
  width: 100%;
  padding: 64px 360px;
  display: flex;
  justify-content: center;
  gap: 64px;
  align-items: center;
  flex-direction: column;
}
body .main .razrab h3 {
  font-family: rubbold;
  font-size: 96px;
  color: #FB923C;
}
body .main .razrab .razrablist {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 0px 155px 0px;
}
body .main .razrab .razrablist .razrabel {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: -155px;
}
body .main .razrab .razrablist .razrabel .razrabtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 240px;
  height: -moz-fit-content;
  height: fit-content;
}
body .main .razrab .razrablist .razrabel .razrabtext .p1 {
  font-family: robmed;
  font-size: 40px;
  color: #27272A;
}
body .main .razrab .razrablist .razrabel .razrabtext p {
  font-family: robmed;
  font-size: 24px;
  color: #52525B;
  text-align: center;
}
body .main .razrab .razrablist .razrabel img {
  width: 120px;
  height: 100%;
}
body .main .razrab .razrablist .razrabel .pusto {
  display: flex;
  width: 100%;
  height: 100%;
}
body .main .orangewall {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FB923C;
}
body .main .orangewall .feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 0px 240px;
  background-color: #fff;
  border-radius: 0 0 100px 100px;
}
body .main .orangewall .feedback h3 {
  font-family: rubbold;
  font-size: 48px;
  color: #27272A;
}
body .main .orangewall .feedback .feedbacklist {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
}
body .main .orangewall .feedback .feedbacklist .feedbackel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 32px;
  gap: 16px;
  width: 100%;
  height: 392px;
  background-color: #fff;
  border: 2px solid #FB923C;
  border-radius: 40px;
  box-shadow: -12px 12px 0px 2px #FB923C;
}
body .main .orangewall .feedback .feedbacklist .feedbackel .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
body .main .orangewall .feedback .feedbacklist .feedbackel .name p {
  font-family: rubbold;
  font-size: 24px;
  color: #27272A;
  width: 100%;
}
body .main .orangewall .feedback .feedbacklist .feedbackel .name img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
body .main .orangewall .feedback .feedbacklist .feedbackel p {
  font-family: rubbold;
  font-size: 24px;
  color: #52525B;
  width: 100%;
}
body .main .orangewall .feedback .feedbacklist .feedbackel img {
  width: 32px;
  height: 32px;
}
body .main .orangewall .feedback .feedbacklist .feedbackel img:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.2);
}
body .main .orangewall .feedback img {
  width: 100%;
  height: auto;
}
body .main .orangewall .order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 120px 240px 0px 240px;
  gap: 64px;
  width: 100%;
}
body .main .orangewall .order .ordertext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
body .main .orangewall .order .ordertext h3 {
  font-family: robmed;
  font-size: 48px;
  color: #F5F5F5;
}
body .main .orangewall .order .ordertext p {
  font-family: robmed;
  font-size: 24px;
  color: #F5F5F5;
}
body .main .orangewall .order .ordermenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 120px;
}
body .main .orangewall .order .ordermenu .order-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* Изменено */
  padding: 32px;
  gap: 16px;
  width: 100%;
  height: 640px;
  /* Или другая подходящая высота */
  background-color: #fff;
  border-radius: 25px;
}
body .main .orangewall .order .ordermenu .order-input input {
  width: 100%;
  height: 48px;
  padding: 16px;
  border-radius: 10px;
  font-family: robreg;
  font-size: 16px;
  color: #27272A;
  border: 1px solid #52525B;
}
body .main .orangewall .order .ordermenu .order-input input:focus {
  border: 2px solid #FB923C;
}
body .main .orangewall .order .ordermenu .order-input .project-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  height: 265px;
  border-radius: 25px;
}
body .main .orangewall .order .ordermenu .order-input .project-input textarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  font-family: robreg;
  font-size: 16px;
  color: #27272A;
  border: 1px solid #52525B;
  resize: vertical;
}
body .main .orangewall .order .ordermenu .order-input .project-input textarea:focus {
  border: 2px solid #FB923C;
}
body .main .orangewall .order .ordermenu .order-input .file-upload {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
body .main .orangewall .order .ordermenu .order-input .file-upload:hover p {
  color: #FB923C;
  box-shadow: none;
}
body .main .orangewall .order .ordermenu .order-input .file-upload:hover img {
  color: #FB923C;
  box-shadow: none;
}
body .main .orangewall .order .ordermenu .order-input .file-upload img {
  width: 24px;
  height: 24px;
}
body .main .orangewall .order .ordermenu .order-input .file-upload p {
  font-family: robmed;
  font-size: 20px;
  color: #27272A;
}
body .main .orangewall .order .ordermenu .order-input .butorange:hover {
  background-color: #fa760a;
  box-shadow: none;
}
body .main .orangewall .order .ordermenu .orderinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 120px;
}
body .main .orangewall .order .ordermenu .orderinfo .orderblock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
body .main .orangewall .order .ordermenu .orderinfo .orderblock h3 {
  font-family: robmed;
  font-size: 32px;
  color: #F5F5F5;
}
body .main .orangewall .order .ordermenu .orderinfo .orderblock .infotext {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
body .main .orangewall .order .ordermenu .orderinfo .orderblock .infotext img {
  width: 24px;
  height: 24px;
}
body .main .orangewall .order .ordermenu .orderinfo .orderblock .infotext p {
  font-family: robmed;
  font-size: 24px;
  color: #F5F5F5;
}
body .main .orangewall .order .ordermenu .orderinfo img {
  width: 100%;
  height: auto;
}
body footer {
  display: flex;
  padding: 120px 240px;
  background-color: #7C2D12;
  width: 100%;
}
body footer .cont_footer {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
body footer .cont_footer .footerup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body footer .cont_footer .footerup img {
  height: -moz-fit-content;
  height: fit-content;
}
body footer .cont_footer .footerdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body footer .cont_footer .footerdown .cont_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
body footer .cont_footer .footerdown .cont_text .cont_soc {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
body footer .cont_footer .footerdown .cont_text span {
  font-family: robmed;
  font-size: 24px;
  color: #F5F5F5;
}
body footer .cont_footer .footerdown .cont_text p {
  font-family: robmed;
  font-size: 20px;
  color: #F5F5F5;
  transition: color 0.2s ease;
}
body footer .cont_footer .footerdown .cont_text p:hover {
  color: #F97316;
}/*# sourceMappingURL=style.css.map */